<div class="mid-pane panel panel-primary">
	<div class="panel-heading">
		<i class="fa fa-sign-in"></i> Log in
	</div>

	<div class="panel-body">

		<div class="user-form center-block">
			<%= form_tag sessions_path do %>
			<p>
				<%= text_field_tag :username, params[:username], class: 'form-control login-box', placeholder: "Username", :autofocus => true %>
			</p>
			<p>
				<%= password_field_tag :password, nil, class: 'form-control', placeholder: "Password" %>
			</p>
			<%= submit_tag "Login", class: 'btn btn-primary center-block btn-login' %>
			<% end %>
		</div>
	</div>
</div>
