<% if @breadcrumbs %>
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
      <% @breadcrumbs.each do |crumb| %>

        <% if crumb == @breadcrumbs[-1] %>
          <li class="active">
            <%=crumb%>
          </li>
        <% else %>
          <li><a href="/"><%=crumb%></a></li>
        <% end %>
      <% end %>
  </ul>
<% end %>
