<% if messages.any? %>
    <% messages.each do |msg| %>
      <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert"><i class="fa fa-times"></i></button>
        <strong>Ruh-Roh!</strong> <%=msg%>
      </div>
    <% end %>
<% end %>
