<nav class="navbar navbar-default">
  <div class="custom-navbar-container container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">DamnSimpleTodo</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Lists<span class="sr-only">(current)</span></a></li>
        <li><a href="/list/new">Create</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <%=current_user.username.capitalize%><span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to 'Logout', log_out_path %></li>
            </ul>
          </li>
	      <% else %>
          <li><%= link_to 'Register', new_user_path %></li>
          <li><%= link_to 'Log in', log_in_path %></li>
	      <% end %>
      </ul>
    </div>
  </div>
</nav>
