<div id="recent-lists">
  <div class="panel panel-default">
    <div class="panel-heading">Recent Lists</div>
    <div class="panel-body">
      <%
      if @recent_lists
          @recent_lists.each do |list| %>
            <div><a href="<%= list_path list.id%>">
              <span class="list-title"><%= list.title %> </span>
            </a>
              <small class="recent-time">
                <%=list.created_at.strftime("%m/%d/%y")%>
              </small>
            </div>
          <% end %>
      <% else  %>
        No lists to display.
      <% end %>
    </div>
  </div>
</div>
