<div class="mid-pane panel panel-primary">
  <div class="panel-heading">
    <i class="fa fa-newspaper-o"></i> Register
  </div>
  <div class="panel-body">
    <div class="user-form center-block">
      <%= form_for @user do |f| %>
      	<p>
      		<%= f.text_field :username, class: 'form-control', placeholder: "Username", :autofocus => true %>
      	</p>
      	<p>
      		<%= f.password_field :password, class: 'form-control', placeholder: "Password" %>
      	</p>
      	<p>
      		<%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Confirmation" %>
      	</p>
      	<%= f.submit "Register", class: 'btn btn-primary btn-login'%>
      <% end %>
    </div>
  </div>
</div>
