<div class="mid-pane mobile-info">
    <h2>About</h2>
    I started creating this website in my free time because I just wanted a simple list application that did two things. The first was let me paste a list of new line delimited items into a text box and create a list from that. The second was sync these lists to my mobile phone.
    I have a native android app but currently I have stopped maintaining and adding features to it in favor of the new mobile first layout that you see here.
    I may pick up development on native apps for the future but for now this is all you get. <br><br>
    <h2>Attribution</h2>
    Bootstrap / Bootswatch <br>
    Font-awesome
</div>
