<% if item.done %>
	<div class="list-group-item checked list-item" data-id="<%=item.id%>">
	<%= item.name %>
<% else %>
	<div class="list-group-item list-item" data-id="<%=item.id%>">
	<%= item.name %>
<% end %>
</div>
