
.navbar {
  position:fixed;
  width: 100%;
  z-index:100;
}

.main {
  padding: 66px 150px 0px 150px;
  width:  100%;

	@media screen and (max-width: $mobile) {
      padding: 45px 0px 75px 0px;
	}
}

.custom-navbar-container {
  padding:0px 150px;
	@media screen and (max-width: $mobile) {
	      padding: 0px 10px;
	}
}

.breadcrumb {
  min-width: 1030px;
	@media screen and (max-width: $mobile) {
		display: none;
	}
}

#content {
  display: flex;
}

#recent-lists {
  flex: 1 0 300px;
}

.mid-pane {
  width: 100%;
  margin-right:15px;
  min-width: 450px;
	@media screen and (max-width: $mobile) {
		margin: 0px;
    min-width: 0;
	}
}

//This applys only to about, contact and unauthorized
.mobile-info {
	@media screen and (max-width: $mobile) {
		margin-left: 10px;
	}
}

.user-form {
  max-width:200px;

	@media screen and (max-width: $mobile) {
		max-width: none;
	}
}

.btn-login {
  width:100%;
}
