// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-item {
	cursor: pointer;
}
.list-item:hover{
	background-color:#f5f5f5;
}

.checked {
	text-decoration: line-through;
}
