// Place all the styles related to the list controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.list-edit{
	float: right;
	cursor: pointer;
	@media screen and (max-width: $mobile) {
		display:none;
	}
}

.list-nav {
  flex: 1 0 250px;
	@media screen and (max-width: $mobile) {
		width: 100%;
	}
}

.list-pane {
    margin-left:15px;
    margin-right: 15px;
    width: 100%;

		@media screen and (max-width: $mobile) {
			margin: 0;
		}
}

.list-nav-show {
	@media screen and (max-width: $mobile) {
		display: none;
	}
}

.list-pane-index {
	@media screen and (max-width: $mobile) {
		display: none;
	}
}

.list-group {
	font-size: 15px;
}

.action-bar {
	display: none;
	@media screen and (max-width: $mobile) {
		display: table;
		table-layout: fixed;
		position: fixed;
		bottom: 0px;
		left: 0px;
		width: 100%;
		z-index:50;
	}
}

.action-button {
	display: table-cell;
	height: 75px;
	background-color:white;
	text-align: center;
	border: 1px solid #dddddd;
	padding-top:10px;
}

#save, #add {
	@media screen and (max-width: $mobile) {
		width: 100%;
	}
}

.list-title {
	display:	block;
	white-space: nowrap;
	overflow:	hidden;
	text-overflow: ellipsis;
}
