<!-- this file is sort of a hack until I implement a single page app -->
<div class="list-group">
  <% @lists.each do |list| %>
      <a class="list-group-item <%= "active" if list.id == selected_id %>" href="<%=list_path list.id%>">
        <span class="badge"><%=list.items.count%></span>
          <span class="list-title"><%=list.title%></span>
      </a>
  <% end %>
</div>
