<div class="mid-pane panel panel-primary">
  <span id="data" data-id="<%= @list.id%>"></span>
  <div class="panel-heading">
    <i class="fa fa-pencil"></i> <%=@list.title%>
  </div>
  <div class="panel-body">
    <textarea rows="20" id="list" class="form-control" placeholder="New line separated list items" autofocus></textarea>
    <br>
    <button id="add" class="btn btn-primary center-block">Add</button>
    <br>
  </div>
</div>
