<div class="list-nav-index list-nav">
  <%= render partial: "list/lists", locals: {selected_id: nil} %>
</div>

<div class="mid-pane list-pane list-group list-pane-index">
  <div class="list-group-item active">
    <i class="fa fa-list"></i>  Lists
  </div>
  <div class="list-group-item">Please select a list</div>
</div>
