<div class="mid-pane panel panel-primary">
  <div class="panel-heading">
    <i class="fa fa-floppy-o"></i> Create
  </div>
  <div class="panel-body">
    <input type="text" id="title" class="form-control" placeholder="Title" autofocus>
    <br>
    <textarea rows="20" id="list" class="form-control" placeholder="New line separated list items"></textarea>
    <br>
    <button id="save" class="btn btn-primary center-block">Save</button>
    <br>
  </div>
</div>
