
<div class="list-nav-show list-nav">
  <%= render partial: "list/lists", locals: {selected_id: @list.id} %>
</div>

<div class="mid-pane list-pane list-group">
  <div class="list-group-item active">
      <i class="fa fa-list"></i> <%=@list.title%>
      <ul class="nav nav-pills list-edit">
        <li class="dropdown">
          <div class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
              <i class="fa fa-2x fa-caret-down"></i>
          </div>
          <ul class="dropdown-menu">
            <li>
              <a href="<%=edit_list_path(@list)%>">
                <i class="fa fa-pencil fa-fw"></i> Add
              </a>
            </li>
            <li>
              <a href="<%=checked_list_path(@list)%>" data-method="delete" rel="nofollow">
                <i class="fa fa-eraser fa-fw"></i> Clear
              </a>
            </li>
            <li>
              <a href="<%=list_path(@list)%>" data-method="delete" rel="nofollow">
                <i class="fa fa-trash fa-fw"></i> Delete
              </a>
            </li>
          </ul>
        </li>
      </ul>
  </div>
  <%=render @list.items%>
</div>

<!-- Mobile only -->
<div class="action-bar">
  <a href="<%=edit_list_path(@list)%>" class="action-button">
    <i class="fa fa-pencil fa-2x"></i><br>Add
  </a>
  <a href="<%=checked_list_path(@list)%>" data-method="delete" rel="nofollow" class="action-button">
    <i class="fa fa-eraser fa-2x"></i><br>Clear
  </a>
  <a href="<%=list_path(@list)%>" data-method="delete" rel="nofollow" class="action-button">
    <i class="fa fa-trash fa-2x"></i><br>Delete
  </a>
</div>
