<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Damn Simple Todo | Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <%= favicon_link_tag 'favicon.ico' %>
      <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
     	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  		<%= csrf_meta_tags %>
</head>

<body>

  <%= render "parts/header" %>

  <div class="main">
    <%= render "parts/breadcrumb" %>

    <% if flash.any? %>
      <%= render partial: "parts/flash", locals: {messages: [flash.alert]} %>
    <% end %>

    <div id="content">

        <%= yield %>
      <%= render "parts/sidebar" %>
    </div>
  </div> <!-- /main -->
</body>
</html>
